
**/Backup/**
**/Media/Mov/**
**/TDImportCache/**
**local/Media/**
**/chat-history/**
**/temp_images/**
**/venv/**
**Kokoro/**
**/Archive/logs/**
**transcripts/**
.obsidian/
*.ini
**.ini

*.dmp


#exclude everything
local/*
local/mappings/*
logs/*
CrashAutoSave*
lib/pip*

# exception to the rule
!local/recordings/.gitkeep 
local/mappings/UserShortcutsTable.py
